body { font-family: 'Libre Baskerville', serif; }

/*navbar*/

header { background: #a0a0a0; }
.navbar a { padding: 10px; }
.navbar .col-flex-row { padding-right: 30px; }
.logo { width: 280px; padding: 20px; }
.fa-bars { display: none; }

/*padding*/

.pad-md { padding: 1em; }
.pad-lg { padding: 3em; }

/*floats*/

.float-right { float: right; } 

/*block*/

.center-block { min-height: 20px; text-align: center; }
.min-height { min-height: 500px; }

/*buttons*/

.button { display: inline-block; padding: 15px 25px; background: #666; color: white; text-decoration: none; }
.link { color: black; text-decoration: none; }

/*bullets*/

ul { padding-left: 15px; }
ul li { padding: 4px 0 4px 0; }

/*colors*/

.grey-dk { background-color: #e1e1e1; }
.grey-md { background-color: #e8e8e8; }
.grey-lt { background-color: #f2f2f2; }

/*bb backgrounds*/

.bb-bg { background-size: cover; background-position: center center; }
.bb-home01 { background-image: url(../img/bb-home01.jpg); }
.bb-home02 { background-image: url(../img/bb-home02.jpg); }

/*images*/

.responsive-img { display: block; width: 100%; }

/*top icon*/

.top-arrow { position: fixed; bottom: 20px; right: 20px; cursor: pointer; color: #666; }

/*navbar media query*/

@media (max-width: 800px) {

	.navbar .col-1-5 { width: 100%; }
	.navbar .col-4-5 { display: none; }
	.navbar:after { content: ""; display: table; clear: both; }
	.logo { width: 220px; }
	.fa-bars { display: block; position: absolute; top: 32px; right: 20px; }
} 


/*smarphone media query*/

@media (max-width: 680px) {

	.float-right { float: none; }
	.button { width: 100%; }
	.hide-mobile { display: none; }
	.min-height { min-height: 360px; }
} 