body { font-family: 'Libre Baskerville', serif; }

/*navbar*/

header { background: white; }
header .row { height: 100px; }
.navbar .link { padding: 10px; display: inline; }
.navbar .col-1-5 { justify-content: flex-start; } 
.navbar .col-4-5 { padding-right: 30px; }
.navbar .col-4-5 { justify-content: flex-end; }
.logo { padding: 10px 20px; }
.fa-bars { display: none; }


/*mobile links*/

.mobile-links { height: 0; text-align: center; padding: 0; transition: all .3s; }
.mobile-links a { display: block; margin: 10px; font-size: 1.2em; }
.open { height: 200px; padding: 10px; }

/*padding*/

.pad-md { padding: 1em; }
.pad-lg { padding: 3em; }

/*floats*/

.float-right { float: right; } 

/*block*/

.center-block-sm { min-height: 100px; text-align: center; }
.center-block-lg { min-height: 150px; text-align: center; }
.min-height { min-height: 500px; }

/*buttons*/

.button { display: inline-block; padding: 15px 25px; color: white; text-decoration: none; background-color: #2594ba; transition: background-color .3s; }
.button:hover { background-color: #ff8d00; }
.link { color: #2594ba; text-decoration: none; font-weight: bold; transition: color .3s; }
.link:hover { color: #ff8d00; }
.link-flex { align-self: flex-start; }

/*bullets*/

ul { padding-left: 15px; }
ul li { padding: 4px 0 4px 0; }

/*bg colors*/

.bg-grey-dk { background-color: #e1e1e1; }
.bg-grey-md { background-color: #e8e8e8; }
.bg-grey-lt { background-color: #f2f2f2; }

.bg-blue-vivid { background-color: #2594ba; }
.bg-blue-vivid-lt { background-color: #DBE3EC; }
.bg-blue-vivid-ex-lt { background-color: #EAF1F9; }

.bg-green-dk { background-color: #439474; }
.bg-green-lt { background-color: #c3dcd2; }

/*fg colors*/

.fg-white { color: white; }
.fg-orange { color: #ff8d00; }

/*bb backgrounds*/

.bb-bg { background-size: cover; background-position: center center; }
.bb-logo-left { background-image: url(../img/bb-logo-left.png); }
.bb-logo-right { background-image: url(../img/bb-logo-right.png); }
.bb-home01 { background-image: url(../img/bb-home01.jpg); }
.bb-home02 { background-image: url(../img/bb-home02.jpg); }
.bb-home03 { background-image: url(../img/bb-home03.jpg); }
.bb-home04 { background-image: url(../img/bb-home04.jpg); }

/*images*/

.responsive-img { display: block; width: 100%; }

/*top icon*/

.top-arrow { display: none; position: fixed; bottom: 20px; right: 20px; cursor: pointer; color: #2594ba; transition: color .3s; }
.top-arrow:hover { color: #ff8d00; }

/*disclaimer*/

p.disclaimer { font-size: 0.8em; padding: 30px; margin: 0; text-align: center; }

/*navbar media query*/

@media (max-width: 800px) {

	header .row { height: auto; }
	.navbar .col-1-5 { width: 100%; }
	.navbar .col-4-5 { display: none; }
	.navbar:after { content: ""; display: table; clear: both; }
	.logo { width: 220px; }
	.fa-bars { display: block; position: absolute; top: 19px; right: 20px; }
} 

/*smarphone media query*/

@media (max-width: 680px) {

	.float-right { float: none; }
	.button { width: 100%; }
	.hide-mobile { display: none; }
	.min-height { min-height: 280px; }
	.pad-lg { padding: 2em; }
	.center-block-lg { min-height: 100px; }
} 