html, body { margin: 0; }
a img { border: 0; outline: none; }

/* the grid */

.width-lock { max-width: 940px; margin: 0 auto 0 auto; }
.grid:after { content: ""; display: table; clear: both; }
.row { display: flex; }
.row:after { content: ""; display: table; clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] { }
.col-flex-column { display: flex; flex-direction: column; justify-content: center; }
.col-flex-row { display: flex; flex-direction: row; justify-content: center; align-items: center; }

.col-1-1, .col-2-2, .col-3-3, .col-4-4, .col-5-5 { width: 100%; }
.col-1-2 { width: 50%; }
.col-1-3 { width: 33.33%; }
.col-2-3 { width: 66.7%; }
.col-1-5 { width: 20%; }
.col-2-5 { width: 40%; }
.col-3-5 { width: 60%; }
.col-4-5 { width: 80%; }

@media (max-width: 680px) {

	.row { flex-direction: column; }
	.mob-order1 { order: 1; }
	.mob-order2 { order: 2; }
	.mob-flip:nth-child(2) { order: 1; }
	[class*='col-'] { width: 100%; }

} 