html, body { margin: 0; }
a img { border: 0; outline: none; }

/* the grid */

.width-lock { max-width: 940px; margin: 0 auto 0 auto; }
.grid:after { content: ""; display: table; clear: both; }
.row { display: flex; }
.row:after { content: ""; display: table; clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] { display: flex; flex-direction: column; justify-content: center; }

.col-1-2 { width: 50%; }
.col-1-1 { width: 100%; }
.col-1-3 { width: 33.33%; }
.col-2-3 { width: 66.7%; }

@media (max-width: 680px) {

	.row { flex-direction: column; }
	.mob-order1 { order: 1; }
	.mob-order2 { order: 2; }
	.mob-flip:nth-child(2) { order: 1; }
	[class*='col-'] { width: 100%; }

} 